{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Estudiantes</li>
                    <li class="breadcrumb-item active" aria-current="page">Gestión Académica</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h1>Gestión académica UNFV</h1>
        </div>
    </div>

    <div class="contenido">
        <div class="rutas">
            <a href="https://www.unfv.edu.pe/transparencia_estandar/Datos_Generales/Normas_Emitidas/Resoluciones/Rectorales/2020/Resolucion_R_Nro_7125_2020_UNFV.pdf" target="_blank">Ver resolución</a>
            <a href="https://www.unfv.edu.pe/images/matricula_web/manual_gestion_academica_febrero.pdf" target="_blank">Ver manual de gestión académica</a>
            <a>Oficina central de registros académicos</a>
            <a>Oficina central de asuntos académicos</a>
        </div>

        <div class="contenido">
            <img src="{% static 'img/gestion_academica.webp' %}" alt="Director de Sistemas" class="card-img-top">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    .breadcrumb a {
        color: #000000;
        text-decoration: none;
    }

    .breadcrumb a:hover {
        text-decoration: underline;
    }

    .contenido {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 50px;
        gap: 20px;
    }
    
    h1 {
        font-size: 2.5rem;
        color: #902020;
        font-weight: bold;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .card-img-top {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border: 2px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .rutas {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: bold;
    }

    .rutas a {
        text-decoration: none;
        padding: 10px;
        background-color: #FFB969;
        border-radius: 100px;
        text-align: center;
        width: 100%;
        color: #000
    }
</style>
{% endblock %}