{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Estudiantes</li>
                    <li class="breadcrumb-item active" aria-current="page">TUPA</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h1>TUPA</h1>
        </div>
        <div style="display: flex; justify-content: center; gap: 20px;">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding: 20px; width: 300px; height: 400px;">
                <div style="background-color: #902020; height: 200px; width: 200px; border-radius: 100%;">
                </div>
                <p class="text-center">Pagos y Códigos en el Banco del Comercio para los Trámites - Mesa de Partes del Rectorado</p>
                <a href="https://www.unfv.edu.pe/servicios-en-linea/relacion-de-pagos-y-codigos-de-las-tarifas-del-tupa" class="btn btn-orange w-100 mb-2">Ver</a>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding: 20px; width: 300px; height: 400px;">
                <div style="background-color: #902020; height: 200px; width: 200px; border-radius: 100%;">
                </div>
                <p class="text-center">Los Pagos y Códigos por Facultad</p>
                <a href="https://www.unfv.edu.pe/servicios-en-linea/relacion-de-pagos-y-codigos-de-las-tarifas-del-tupa/los-pagos-y-codigos-por-facultad" class="btn btn-orange w-100 mb-2">Ver</a>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;  padding: 20px; width: 300px; height: 400px;">
                <div style="background-color: #902020; height: 200px; width: 200px; border-radius: 100%;">
                </div>
                <p class="text-center">Tarifario - Pregrado OCRACC</p>
                <a href="https://www.unfv.edu.pe/servicios-en-linea/relacion-de-pagos-y-codigos-de-las-tarifas-del-tupa/tarifario-pregrado-ocracc" class="btn btn-orange w-100 mb-2">Ver</a>
            </div>
        </div>
    </div>
</div>  
{% endblock content %}

{% block extra_css %}
<style>
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 20px;
    }

    .breadcrumb a {
        color: #000000;
        text-decoration: none;
    }

    .breadcrumb a:hover {
        text-decoration: underline;
    }

    h1 {
        font-size: 2.5rem;
        color: #902020;
        font-weight: bold;
    }

    .btn-orange {
        background-color: #f79c42;
        color: #fff;
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius: 8px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
    }

    .btn-orange:hover {
        background-color: #dc7c28;
        color: #fff;
    }
</style>
{% endblock %}