{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Facultad</li>
                    <li class="breadcrumb-item active" aria-current="page">Misión y Visión</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row align-items-center">
        <!-- Titulos -->
        <div class="col-md-8">
            <h2 class="mb-4">Misión</h2>
            <p class="lead">
                "Brindar formación profesional científica y humanística a los estudiantes, con sensibilidad social,
                innovación, competitividad y emprendimiento, para contribuir al desarrollo y la sostenibilidad sistémica
                del país."
            </p><br>

            <h2 class="mt-5 mb-4">Visión</h2>
            <p class="lead">
                "Comunidad académica posicionada entre las mejores universidades en el ámbito nacional e internacional a
                través de la calidad, producción y difusión intelectual e innovación con responsabilidad social."
            </p>
        </div>

        <!-- Imagen -->
        <div class="col-md-4 text-center">
            <img src="{% static 'img/PEI_2018_2020.jpg' %}" class="image bg-light border mb-3" alt="PLAN ESTRATÉGICO INSTITUCIONAL 2018-2020 UNFV">
            <p class="text-muted small">
                Aprobado con Resolución R. N° 2535-2018-CU-UNFV
            </p>
            <!-- Botón de descarga -->
            <a href="{% static 'pdf/PEI_2018_2020.pdf' %}" class="btn btn-orange" download="PEI_2018_2020.pdf">Descargar Resolución</a>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_css %}
<style>
    /* Breadcrumb */
    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    .breadcrumb a {
        color: #000000;
        text-decoration: none;
    }

    .breadcrumb a:hover {
        text-decoration: underline;
    }

    /* Sección principal */
    h2 {
        color: #902020;
        font-weight: bold;
    }

    .lead {
        font-size: 1.25rem;
        text-align: justify;
        color: #333;
    }

    /* Imagen */
    .image {
        height: 60%;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 1rem;
        background-color: lightgrey;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Estilo del botón */
    .btn-orange {
        background-color: #f79c42;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1rem;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    .btn-orange:hover {
        background-color: #dc7c28;
        color: #fff;
    }
</style>
{% endblock %}