<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal Web</title>
  {% load static %}
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  
  
  {% block extra_css %}
  <!-- Aquí se pueden agregar estilos específicos para la plantilla que extienda de base.html -->
  {% endblock %}
  
  <style>
    body {
      background-color: #f8f8f8;
    }
    .navbar {
      background-color: #fff;
    }
    .navbar-light {
      font-size: 16px !important;
      height: 80px;
    }
    .btn-navbar {
      color: rgba(0, 0, 0, 0.65) !important;
      background-color: transparent;
    }
    footer {
      margin-top: 10px;
      background-color: #fff;
      padding: 20px;
    }
    footer h5 {
      color: #902020;
      font-weight: bold;
      font-size: 16px;
    }
    footer p {
      font-size: 12px;
      margin: 0px;
    }
    .footer-icons {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
    .footer-icon {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #000;
      cursor: pointer;
      text-decoration: none;
    }
    .footer-container {
      display: flex;
      gap: 50px;
    }
    .footer-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  </style>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
      <img href="/" class="logo" src="{% static 'img/logo.png' %}" alt="Logo" style="height: 50px;">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">La Universidad</a>
          </li>

          <div class="dropdown">
            <button class="btn btn-navbar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Facultad
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'resena_historica' %}">Reseña Histórica</a></li>
              <li><a class="dropdown-item" href="{% url 'mision_vision' %}">Misión y Visión</a></li>
              <li><a class="dropdown-item" href="{% url 'transparencias' %}">Transparencias</a></li>
              <li><a class="dropdown-item" href="{% url 'resoluciones_actas_reglamentos' %}">Resoluciones, actas y reglamentos</a></li>
              <li><a class="dropdown-item" href="{% url 'autoridades' %}">Autoridades</a></li>
            </ul>
          </div>
          
          <div class="dropdown">
            <button class="btn btn-navbar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Escuela
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Escuela Profesional de Ingeniería de Sistemas</a></li>
              <li><a class="dropdown-item" href="#">Escuela Profesional de Ingeniería de Transportes</a></li>
              <li><a class="dropdown-item" href="#">Escuela Profesional de Ingeniería Agroindustrial</a></li>
              <li><a class="dropdown-item" href="#">Escuela Profesional de Ingeniería Industrial</a></li>
            </ul>
          </div>

          <div class="dropdown">
            <button class="btn btn-navbar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Investigación
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Biblioteca Virtual</a></li>
            </ul>
          </div>

          <div class="dropdown">
            <button class="btn btn-navbar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Estudiantes
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Correo Institucional</a></li>
              <li><a class="dropdown-item" href="#">Calendario Académico</a></li>
              <li><a class="dropdown-item" href="#">Bolsa de Trabajo</a></li>
              <li><a class="dropdown-item" href="#">Trámites</a></li>
              <li><a class="dropdown-item" href="#">Gestión Académica</a></li>
              <li><a class="dropdown-item" href="#">Gestión Administrativa</a></li>
              <li><a class="dropdown-item" href="#">Segundas Especialidades</a></li>
              <li><a class="dropdown-item" href="#">TUPA</a></li>
            </ul>
          </div>

          <li class="nav-item">
            <a class="nav-link">Oficinas</a>
          </li>

          <div class="dropdown">
            <button class="btn btn-navbar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Capacitación
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'programacion' %}">Programación y desarrollo web</a></li>
              <li><a class="dropdown-item" href="{% url 'gestion' %}">Gestion de proyectos tecnologicos</a></li>
              <li><a class="dropdown-item" href="{% url 'ciberseguridad' %}">Ciberseguridad y protección de datos</a></li>
              <li><a class="dropdown-item" href="{% url 'bigdata' %}">Big Data y analisis de datos</a></li>
            </ul>
          </div>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'eventos' %}">Eventos Académicos</a>
          </li>

          <div class="dropdown">
            <button class="btn btn-navbar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Convenios
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Nacionales</a></li>
              <li><a class="dropdown-item" href="#">Internacionales</a></li>
              <li><a class="dropdown-item" href="#">Redes interinstitucionales</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>  
  {% block content %}
  {% endblock %}
  <footer>
    <div class="container footer-container">
      <div class="footer-item">
        <h5>Contacto</h5>
        <div class="footer-icons">
          <a class="footer-icon" href="https://www.google.com/maps/place/UNFV+-+Facultad+de+Ingenier%C3%ADa+Industrial+y+de+Sistemas+(FIIS)/@-12.0466356,-77.0505185,17z/data=!3m1!4b1!4m6!3m5!1s0x9105c9a5dac3ca31:0x9ef3d6b14994baf7!8m2!3d-12.0466356!4d-77.0479436!16s%2Fg%2F11q7ft3k9s?entry=ttu&g_ep=EgoyMDI0MTExOS4yIKXMDSoASAFQAw%3D%3D" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            <p>Av. Óscar R. Benavides N°450 - Lima</p>
          </a>
          <div class="footer-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
            </svg>
            <p>(+51) 748-0888 Anexos: 8741 - 8824</p>
          </div>
          <a class="footer-icon" href="https://www.facebook.com/CEI.FIIS.UNFV" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
            </svg>
            <p>FIIS - UNFV</p>
          </a>
        </div>
      </div>
      <div class="footer-item">
        <h5>Enlaces de Interés</h5>
        <a class="footer-icon" href="https://www.unfv.edu.pe/" target="_blank">
          <p>
            Página de la Universidad Nacional Federico Villarreal
          </p>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>