{% extends 'base.html' %}

{% block content %}
{% load static %}
<main>
  <img href="/" class="home" src="{% static 'img/home.png' %}" alt="Home"/>

  <div class="container h-full">
    <h1>FACULTAD DE INGENIERÍA INDUSTRIAL Y DE SISTEMAS</h1>
  </div>

  <div style="padding: 20px;">
    <h1 class="encabezado">Noticias</h1>
    <div class="cards container" style="justify-content: space-between;">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">11/11/2024</p>
          <h5 class="card-title">Nuevas implementaciones para los laboratorios de la FIIS</h5>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">11/11/2024</p>
          <h5 class="card-title">Conferencia “Trastornos Psicológicos Más Comunes”</h5>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">11/11/2024</p>
          <h5 class="card-title">Expociencia EMCH CFB – 2019</h5>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">11/11/2024</p>
          <h5 class="card-title">XX Congreso Nacional de estudiantes de Ingeniería Agroindustrial</h5>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-bottom: 20px;">
    <h1 class="encabezado">Servicios</h1>
    <div class="cards container" style="justify-content: space-between;">
      <div class="card" style="width: 12rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'autoridades' %}" class="card-title a-servicios">
            Directorio Telefónico
          </a>
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'transparencias' %}" class="card-title a-servicios">
            Plana Docente
          </a>
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'biblioteca' %}" class="card-title a-servicios">
            Consultas Bibliográficas
          </a>
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'tramite' %}" class="card-title a-servicios">
            Trámites
          </a>
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'trabajo' %}" class="card-title a-servicios">
            Bolsa de Trabajo
          </a>
        </div>
      </div>

      <div class="card" style="width: 12rem;">
        <img src="{% static 'img/noticia.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'calendario' %}" class="card-title a-servicios">
            Calendario Académico
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  a {
    text-decoration: none;
    text-align: center;
  }

  h5 {
    font-size: 40px;
  }

  .encabezado {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #902020;
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-text {
    font-size: 12px;
    margin: 0px;
  }

  .card-title {
    color: #902020;
    font-size: 16px;
    font-weight: bold;
  }

  .h-full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    color: #fff
  }
  .home {
    width: 100%;
    height: calc(100vh);
    position: absolute;
    z-index: -1;
  }
</style>
{% endblock %}