{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Portal Web</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate fuga incidunt, voluptatem, sequi aut voluptas voluptatibus eos sint ratione rem, blanditiis expedita facilis error eius accusamus quos ducimus illo iusto delectus iste porro doloremque. Tempora, sequi laboriosam? Sed natus modi, illum exercitationem id accusantium assumenda optio ex maxime qui est iusto, cupiditate consequuntur nulla vel! Delectus ad tempore magnam fuga assumenda neque quas tempora iste ut nulla ducimus dolorum, quae vero? Placeat, impedit facere doloremque animi illo corporis ipsam soluta voluptas quibusdam eum rerum quos, eius laudantium obcaecati blanditiis delectus autem exercitationem fugit? Praesentium facilis rerum asperiores animi nisi sequi.</p>
  </section>
</main>
{% endblock %}