{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h3>Administra tu personal</h3>
    <button class="btn">Agregar Personal</button>
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}